@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

// Variables

$colorPrincipal : rgb(74, 74, 153);
$colorSecundario : rgb(203, 207, 236);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya SC', serif;
}

// Header

.divHeader{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient($colorPrincipal, white);

    .divH1H2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 30px;
        }
    }

    .logo{
        width: 450px;
        height: 450px;
    }
}

// NavBar

.divNavBar{

    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ulNavBar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        #buttonRecomendaciones{
            background-color: #fff;
            color: #000;
            border: #fff;
            font-size: 20px;
            padding: 0;
        }

        #buttonRecomendaciones:hover{
            text-decoration: underline;
        }
        
        .dropdown-menu{
            padding: 15px;
            background-color: $colorSecundario;

            .ulRecomendaciones{

                a{
                    text-decoration: none;
                    list-style: none;
                    color: #000;

                    li{
                        padding: 2px;
                    }

                    li:hover{
                        background-color: #fff;
                        border-radius: 5%;
                    }
                }
                

            }
        }

            a{
                text-decoration: none;

                .liNavBar{
                    list-style: none;
                    color: #000;
                    font-size: 20px;
            }
            .liNavBar:hover{
                text-decoration: underline;
            }
        }
    }
}


// Index 

.divIndexContainer{

    background-image: linear-gradient(#fff,$colorPrincipal,#fff);

    .divCarousel{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    
    .divTextoIndexContainer{
        padding: 70px;
    
        p{
            padding: 20px;
            padding-left: 180px;
            padding-right: 180px;
        }
    }
}


// Carousel 

#carouselExampleControls{
    width: 650px;
    height: 365px;
    border: 1px solid #000;
    border-radius: 5%;

    .carousel-inner{
        width: 650px;
        height: 365px;
        border: 1px solid #000;
        border-radius: 5%;

        .divImgCarousel{
            width: 650px;
            height: 365px;
            border: 1px solid #000;
            border-radius: 5%;

            .imgCarousel{
                width: 650px;
                height: 365px;
                border: 1px solid #000;
                border-radius: 5%;
            }
        }
    }
}

// Footer

.divFooterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(#fff,$colorSecundario,$colorPrincipal);
    color: #000;
    height: 230px;
    margin: 0;

    .divContactanos{
        text-align: center;

        .ulContactanos{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }

        .ulRedes{
            display: flex;
            justify-content: flex-start;
            
            .liRedes{
                padding: 5px;
                list-style: none;
                font-size: 25px;
            }
        }
    }

    .divHorarios{
        text-align: center;

        .ulHorarios{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .liHorarios{
                list-style: none;
            }
        }
    }

}

.divDesarrollo{
    text-align: center;
    background-color: $colorPrincipal;
    color: #000;
    
    h4{
        margin: 0;
        font-size: 16px;
    }
}

/* Quienes Somos */

.divQuienesSomosContainer{
    background-image: linear-gradient(#fff,$colorSecundario,#fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    .h2Profesionales{
        padding-top: 20px;
    }

    .h2Institucion{
        text-decoration: underline;
        padding-bottom: 25px;
    }

    .imgInstitucion{
        padding-bottom: 30px;
    }

    .divQuienesSomosCards{
        margin-bottom: 20px;
    }
}

.divQuienesSomosContainerDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    border: 2px solid #000;
    width: max-content;
    padding-right: 100px;
    padding-left: 100px;


    .divQuienesSomosLista{

        width: 237px;

        ul{
            li{
                list-style: none;
            }
        }
    }

    .divQuienesSomosH1Img{

        width: 237px;
        text-align: center;
        
        h1{
            font-size: 24px;
        }

        .imgMed{
            height: 160px;
            width: 160px;
            border-radius: 50%;
        }
    }
}

.divTextoQuienesSomos{
    text-align: center;

    p{
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }
}

/* Contacto */

.divContactoContainer{
    background-image: linear-gradient(#fff,$colorSecundario,#fff);
    padding-top: 50px;

    h2{
        text-align: center;
    }
    
    h4{
        text-align: center;
        padding-bottom: 50px;
        font-size: 18px;
    }

    #buttonContacto{
        background-color: $colorPrincipal;
        border-color: $colorPrincipal;
    }

    .spanContacto{
        font-size: 22px;
                color: red;
    }
}

/* Que es la diabetes */

.divQueEsLaDiabetesContainer{
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .divQueEsLaDiabetes{
        text-align: center;
        width: 800px;

        ul{
            li{
                list-style: none;
            }
        }
    }

    .divPQueEsLaDiabetes{

        padding-top: 50px;
        padding-bottom: 50px;

        .pFinalQueEsLaDiabetes{
            border: 1px solid #000;
            font-size: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
            font-weight: bold;
        }
    }
}

/* Prevencion cardiovascular */

.divPrevCardioContainer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h1{
        padding-bottom: 20px;
    }

    .divUlPrevCardio{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: start;
    }   
}

/* Actividad fisica */

.divActFisicaContainer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-decoration: underline;
        padding-bottom: 20px;
    }

    .divActFisica{
        width: 800px;
    }

    .divH5ActFisica{
        text-align: center;
        padding: 30px;

        h5{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}